<div style="padding:5px">
        <ul class="nav nav-tabs">
            <li routerLinkActive="active">
                <a routerLink="card">Card</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="wallet">Wallet</a>
            </li>
            <li routerLinkActive="active">
                    <a routerLink="customer">Customer</a>
                </li>
                <li routerLinkActive="active">
                        <a routerLink="login">Login</a>
                    </li>
                    <li routerLinkActive="active">
                            <a routerLink="menu">Menu</a>
                        </li>

        </ul>
        <br/>
        <router-outlet></router-outlet>
    </div>