<body>



    <div class="container">
        <div class="row">
            <div class="col-sm-4">Jerry Zhao</div>
            <div class="col-sm-4"></div>
            <!--variable in future-->
      
          </div>
          <br/>
          <br/>
      <div class="row">
        <div class="col-sm-4"><a>Add Card</a></div>
        <div class="col-sm-4"></div>

  
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-4"><a>Edit Profile</a></div>
        <div class="col-sm-4"></div>
      </div>
      <br/>
      <br/>
      <br/>

      <br/>
      <br/>
      <div class="row">
          <div class="col-sm-4"><a>Sign Out</a></div>
          <div class="col-sm-4"></div>
        </div>
      </div>

  </body>